body {
	background: LightGrey;
	font-family: arial;
}
h2 {
	font-size: 30pt;
	text-align: center;
}
#start {
	display: flex;
	flex-direction: column;
	align-items: center;
}
#input {
	width: 50%;
	margin-top: 10px;
	padding: 10px;
	font-size: 20pt;
	text-align: center;
}
.monitor {
	display: flex;
	justify-content: center;
}
.progress {
	margin: 10px;
	padding: 10px;
	width: 50%;
	background: grey;
	border: 1px solid #FFF;
	text-align: center;
	color: white;
	font-size: 20pt;
}
.port {
	margin: 10px;
	padding: 10px;
	width: 50%;
	background: khaki;
	border: 1px solid #FFF;
	text-align: center;
	font-size: 20pt;
}
button {
	width: 200px;
	margin-top: 10px;
	padding: 10px;
	font-size: 20pt;
	border-radius: 10px;
	font-weight: bold;
	background-color: LimeGreen;
	color: gold;
}
select {
	width: 200px;
	background-color: #FFA07A;
	margin-top: 10px;
	padding: 10px;
	font-size: 20pt;
	border-radius: 10px;
}
